{% extends 'store/base.html'%}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4 mt-3 shadow-lg">
        <img class="img-thumbnail image-fluid justify-content-center" src="{{object.imageUrl}}">
       <div class="box-element product">
           <h6><strong>{{object.name}}</strong> <span class="float-right">Quantity: {{object.quantity}}</span></h6>
            <hr>
<!--            <button data-product="{{product.id}}" data-action="add" class="btn-outline-secondary add-btn update-cart">Add to cart</button>-->
            <a class="btn btn-outline-success" href="#">view</a>
           <label class="btn btn-outline-warning" href="#">{{object.status}}</label>
           <a href="{%url 'productupdate' object.id%}" class="btn btn-secondary btn-sm mb-1 float-right">Update</a>
            <h4 style="display: inline-block">ksh{{product.price|floatformat:2}}</h4>
       </div>
    </div>
</div>
{% endblock content %}